target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

target

### other
test.json
test.mp4
.idea
/logs
/output
image.jpg

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

src/*
buns/mod1/.mvn
buns/mod1/target
buns/mod1/HELP.md
buns/mod1/.gitignore
buns/mod1/mvnw.cmd
buns/mod1/mvnw



### VS Code ###
.vscode/
.mvn
HELP.md
mvnw
mvnw.cmd

### Mac OS ###
.DS_Store